// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

ul {
  list-style:none;
}



.aboutus-section {
  text-align: center;
  padding: 10rem 1rem;
}

.aboutus-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .aboutus-section-header {
    font-size: 4rem;
  }
}

img {
  display: block;
  width: 100%;
}

.aboutus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.us-image {
  height: calc(100% - 2rem);
  width: 100%;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}



.container{
  height: 100%;
}



